streamlit
langchain
langchain-community
langchain-google-genai
faiss-cpu
sentence-transformers
pypdf
python-dotenv
google-generativeai
pandas
numpy
scikit-learn
PyPDF2
requests
beautifulsoup4
SpeechRecognition
pyttsx3
APScheduler
langchain-text-splitters
langchain-huggingface
langgraph
reportlab